.H5Dom{
  width: 100vw;
  min-width: 300px;
  height: 100vh;
  position: relative;
  background-color: rgba(0,0,0,0.07);
}
.H5Dom .spin{
  position: absolute;
  top: 50%;
  left: 50%;
  margin:  -25px 0 0 -12px;
}
.H5Dom .userBg{
  width: 100vw;
  height: 150px;
  /* opacity:0.8; */
}
.userInfo{
  width: 100%;
  color: #FFF;
  position: absolute;
  top: 0;
  height: 150px;
  padding: 20px 10px 20px 20px;
}
.userInfo .topTitle{
  color: #FFD700;
  font-size: 16px;
  font-weight: 300;
}
.userInfo .title{
  display: flex;
}
.userInfo .title .topTitle{
  width: 100%;
  flex: 1;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.userInfo .title .logOut{
  width: 80px;
  text-align: right;
  color: rgba(255, 255, 255, 0.7);
}
.name{
  font-size: 17px;
  font-weight: 600;
  padding: 5px 0;
  margin-top: 20px;
}
.infoBottomBar{
  width: 100%;
  display: flex;
}
.infoBottomBar .roleType{
  width: 80px;
  text-align: right;
  padding: 5px 0;
  color: rgba(255, 255, 255, 0.8);
}
.infoBottomBar .depart{
  padding: 5px 0;
  width: 100%;
  flex: 1;
  color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
/************ 工资明细 css ************/
.salaryInfoSelect{
  display: flex;
  padding: 20px 10px;
}
.salaryInfoSelect .salaryDate{
  padding: 0 12px 0 10px;
  margin: 0 10px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
}
.salaryInfoSelect .selectAfter{
  width: 10px;
  display: inline-block;
  height: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid gray;
  position: relative;
  top: 3px;
  left: 4px;
}
/**
 *  明细
 */
.salaryList {
  width: 100%;
  height: calc(100vh - 215px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 0 50px 0;
  color: #000;
}
.groupTitle{
  width: 100%;
  height: 24px;
  text-align: center;
  padding: 0 20px;
  position: relative;
  margin: 10px 0;
}
.groupTitle:nth-child(1){
  margin-top: 5px;
}
.groupTitle .line{
  width: 100%;
  height: 12px;
  padding-top: 12px;
  border-bottom: 1px solid silver;
}
.groupTitle .text{
  font-weight: 600;
  width: 100px;
  height: 24px;
  padding: 5px 0;
  line-height: 14px;
  position: absolute;
  left: 50%;
  color: #FFF;
  transform: translate(-50%, -50%);
  background-color: silver;
  border-radius: 13px;
}
.countCount{
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}
.salaryItem{
  display: flex;
  width: 100%;
}
.salaryItem .label{
  width: 60%;
  flex: 1;
  text-align: right;
  padding: 10px;
}
.salaryItem .value{
  width: 40%;
  flex: 1;
  padding: 10px;
}
/************* end ************/