
.selectBar{
  display: flex;
  min-width: 820px;
  padding: 10px 0;
}
.tableList{
  min-width: 820px;
}
.dropdownClass{
  z-index: 9999!important;
  max-height: 400px!important;
  overflow: auto!important;
}
.modal{
  width: 750px!important;
}
.modal .ant-modal-body{
  padding: 0;
}
.salaryDetailModal{
  height: 500px;
  overflow: auto;
  padding: 0 20px;
}
.salaryDetailModal .dropdownClass{
  z-index: 99;
}
.classifyTitle{
  font-size: 18px;
  font-weight: 600;
  padding: 20px 0 5px 0;
}
.classifyTitle:nth-child(1){
  padding-top: 0
}
.modalFooter{
  width: 100%;
  display: flex;
}
.modalFooter .nextOrPre{
   width: 50%;
   flex: 1;
   display: flex;
   display: flex;
   flex-direction: row;
 }
.modalFooter .btnList {
  width: 50%;
  flex: 1;
}
.spinDom{
  width: 100%;
  text-align: center;
  position: relative;
  top: 50%;
  margin-top: -30px;
}
.radioEmploy{
  padding: 5px 18px;
}
.bottomBar{
  position: relative;
  width: 100%;
  height: 60px;
}
.bottomBar .pagination{
  position: absolute;
  right: 0;
  top: 20px;
}

/********* 工资单展示 css ********/
.addSalaryDom{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px dashed gray;
  border-radius: 10px;
  padding: 15px 0;
}
.userItem{
  display: flex;
  width: 50%;
  height: 45px;
}
.userItem .calssfiy{
  width: 60%;
  height: 100%;
  text-align: right;
  padding: 10px 10px;
}
.userItem .value,
.userItem .editValue{
  width: 40%;
  height: 100%;
  padding: 10px 10px;
}
.userItem .editValue{
  margin-top: -4px;
  padding-left: 0;
}
.personListTips{
  width: 100%;
  padding: 0;
  background-color: rgba(0,0,0,0.08);
}
.personListTips > span {
  transform: scale(0.75);
  font-size: 16px;
  color: rgba(0,0,0,0.3);
  display: inline-block;
  text-align: left;
  padding: 5px 0px;
}
.countSalary{
  padding: 15px 130px;
  font-size: 20px;
  border: 1px dashed gray;
  border-radius: 10px;
}
/*********** end **********/
.handleCss{
  color: red;
  user-select: none;
  cursor: pointer;
}