
.bg{
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #CCEEFF;
}
.login{
  height: auto;
  width: 100%;
  position: absolute;
  top: 10%;
  left: 0;
}
.title{
  width: 100%;
  height: auto;
  padding: 0 10px;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 30px;
}
.login>form{
  max-width: 400px;
  min-width: 360px;
  width: 80%;
  margin-left: 50%;
  transform: translate(-50%, 0%);

}